.dashboard{
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dashboard .max-width h3{
    padding-top: 120px;
    text-align: center;
    font-family: var(--second-font);
    font-size: 40px;
    color: goldenrod;
}
.dashboard .max-width{
    width: 80%;
}
.dashboard .max-width .table{
    font-family: var(--first-font);
    margin:auto;
    border-collapse: collapse;
    width: 70%;
}
.table thead{
    border-bottom:2px solid goldenrod;
}
.table thead tr th{
    padding: 10px;
}
.table tbody tr{
    border-bottom: 1px solid goldenrod;
}
.table tbody tr td{
    padding: 14px;
}

